<!-- topbar -->
<div class="topbar-w3ls">
  <div class="container">
    <a class='logo'>
      <%= image_tag("Logo_1_1.png", alt: 'img01', class: "img-responsive") %>
    </a>   
    <div class="top-agileits">
      <div class="top-w3l1">
        <span class="glyphicon glyphicon-phone-alt orange"></span>
        <%- @company.phones.each_with_index do |phone, i| %>  
          <p class="agile<%= i + 1 %>"><%= phone.number %></p>
        <% end %>
      </div>    
      <div class="top-w3l2">
        <%= link_to "#map", class: "page-scroll" do %>
          <span class="glyphicon glyphicon-map-marker orange"></span>
        <% end %>
        <p class="agileits1"><%= @company.address %></p> 
        <p class="agileits2">Минск</p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>  
</div>
<!-- /topbar -->
<!-- navigation -->
<div class="navbar-wrapper">
    <div class="container">
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav cl-effect-7">
            <li class="active"><a href="#home" class="page-scroll uppercase">Главная</a></li>
            <li><a href="#service" class="page-scroll uppercase">Услуги</a></li>
            <li><a href="#about" class="page-scroll uppercase">О компании</a></li>
            <li><a href="#testimonials" class="page-scroll uppercase">Отзывы</a></li>
            <!-- <li><a href="#news" class="page-scroll">Команда</a></li> -->
            <li><a href="#contact" class="page-scroll uppercase">Контакты</a></li>
          </ul>
        </div>
      </div>
        </nav>
  </div>
</div>
<!-- /navigation -->
<!-- banner -->
<section class="banner-w3ls" id="home">
    <div id="block" data-vide-bg="video/car" data-vide-options="position: 0% 50%">
      <div class="overlay">
        <h2>Качественно. Быстро. Доступно</h2>
        <h3>Услуги автоэлектрика</h3>
        <p align="center">Компьютерная диагностика <%= fa_icon "circle" %> Ремонт электроники<br>
           Круглосуточно с выездом <%= fa_icon "circle" %> Легковые, грузовые автомобили и спецтехника<br></p>   
      </div>
    </div>  
</section>
<!-- /banner -->
<!-- services -->
<section class="service-agileinfo" id="service">
  <div class="container">
    <h3 class="text-center uppercase" data-aos="zoom-in">Наши услуги</h3>
    <%- @services.each_with_index do |service, i| %>
   <!--    <div class="col-lg-3 col-md-3 col-sm-6" data-aos="flip-down">
        <%= image_tag("ship.png", class: "img-responsive") %>
        <h4 class="text-center"><%= service.title %></h4>
        <p class="text-center"><%= service.description %></p>
      </div> -->

      <div class="col-lg-3 col-md-3 col-sm-6" data-aos="flip-down">
        <ul class='ch-grid'>
          <li>
            <div class="ch-item ch-img-<%= i+1 %>">
              <div class="ch-info-wrap">
                <div class="ch-info">
                  <div class="ch-info-front ch-img-<%= i+1 %>"></div>
                  <div class="ch-info-back<%= i+1 %> ch-info-back">
                    <h4> Ваш Автоэлектрик</h4>
                    <p> Best In Service </p>
                  </div>
                </div>
              </div>
             </div>
           </li>
         </ul>
        <h4 class="text-center"><a href="#" data-toggle="modal" data-target="#service<%= service.id %>"><%= service.title %></a></h4>
        <p class="text-center"><%= service.description %></p>

      </div>
    <% end %>
    <div class="clearfix"></div>
  </div>
</section>
<!-- /services -->
<!-- divider -->
<section class="divider-wthree">
  <div class="container">
    <h3 class="text-center uppercase" data-aos="zoom-in">НАШ ПРИОРИТЕТ - ВАШИ КОМФОРТ И БЕЗОПАСНОСТЬ</h3>
    <p class="text-center" data-aos="zoom-in">Мы используем только высококачественные материалы<br>
        Мы даем гарантию на выполненный ремонт от 6 месяцев до 1 года<br>
        Мы выполняем ремонт электроники любой сложности<br>
        Если вы обратитесь к нам, то можете быть уверены, что ремонт будет проведен на высочайшем уровне</p>
  </div>
</section>
<!-- /divider -->
<!-- about -->
<section class="about-wthree" id="about">
  <div class="container">
    <div class="col-lg-6 col-md-6 col-sm-12" data-aos="flip-right">
      <h3 class="text-center uppercase">О КОМПАНИИ</h3>
      <p class="text-center">Наша компания начала свое существование не так давно, но мы уже сейчас сумели завоевать внимание со стороны многочисленных клиентов. Качество нашей работы стало отличным способом заслужить немалый авторитет среди автолюбителей.
         Все услуги, которые оказывает наша компания по ремонту электроники автомобилей, предоставляются с применением специализированного оборудования, а также качественных материалов от известных производителей.</p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12" data-aos="flip-left">
      <ul class="grid cs-style-1">
        <li>
          <figure>
            <%= image_tag("about-img2.jpg", class: "img-responsive") %>
            <figcaption>
              <a href="<%= image_path('about-img.jpg') %>" class="lightninBox" data-lb-group="1">View More</a>
            </figcaption>
          </figure>
        </li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
</section>
<!-- /about -->
<!-- gallery -->
<section class="gallery-info testimonials divider-wthree" id="testimonials">
  <div class="container"  data-aos="zoom-in">
    <h5 class="title-w3 head uppercase">О нас говорят</h5>
    <div class="callbacks_container test-agile">
      <ul class="rslides" id="slider1">
        <%- @testimonials.each do |testimonial| %>
          <li>
            <div class="test-monials">
              <p><%= testimonial.text[0..334] %>
                <a href="#" data-toggle="modal" data-target="#testimonial<%= testimonial.id %>" class="testimonial-info">...</a>
              </p>
              <h4><%= testimonial.username %></h4>
            </div>
          </li>
        <% end %>
      </ul> 
    </div>
    <div class="clearfix"></div>
  </div>
</section>
<!-- /gallery -->
<!-- team -->
<section class="team-w3" id="team">
  <div class="container">
    <h3 class="text-center uppercase">Наши сотрудники</h3>
    <div class="col-lg-3 col-md-3 col-sm-6"></div>
    <%- @team.each do |member| %>
      <div class="col-lg-3 col-md-3 col-sm-6 team-w3l1" data-aos="flip-right">
        <div class="card">
          <div class="card-image">
          <%= image_tag(member.avatar.url(:medium), class: "img-responsive card-img-top") %>
          </div>
          <div class="card-block">
            <h4> <%= member.name %> </h4>
          </div>
       </div>
     </div>
    <% end %>
    <div class="col-lg-3 col-md-3 col-sm-6"></div>
    <div class="clearfix"></div>  
  </div>
</section>
<!-- /team -->
<!-- map -->
<section class="map-w3" data-aos="zoom-in" id="map">
  <iframe class="googlemaps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2349.454208888878!2d27.483417388374935!3d53.92367399256883!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbc53d83dbbcb5%3A0x841e9b49d1cdc0f!2z0JLQsNGIINCQ0LLRgtC-0K3Qu9C10LrRgtGA0LjQuiDRgSDQstGL0LXQt9C00L7QvA!5e0!3m2!1sru!2sby!4v1525866613005" style="border:0" allowfullscreen></iframe>
</section>
<!-- /map -->
<!-- contact -->
<section class="contact-w3-agileits address-agileits" id="contact">
  <div class="container">
    <div class="col-lg-4 col-md-4 addr-agileinfo1">
      <div class="addr-w3-agile">
        <div class="col-xs-4 addr-agileits1">
          <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1b">
            <i class="hi-icon fa fa-mobile" aria-hidden="true"></i>
          </div>
        </div>
        <div class="col-xs-8 addr-agileits2">
          <div class="addr-w3l">
            <h3> Телефон </h3>
            <%- @company.phones.each do |phone| %>
              <p> <%= phone.number %>
            <% end %>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 addr-agileinfo2">
      <div class="addr-w3-agile">
        <div class="col-xs-4 addr-agileits1">
          <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1b">
            <i class="hi-icon fa fa-map-marker" aria-hidden="true"></i>
          </div>
        </div>
        <div class="col-xs-8 addr-agileits2">
          <div class="addr-w3l">
            <h3> Адрес </h3>
            <p> <%= @company.address %>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 addr-agileinfo3">
      <div class="addr-w3-agile">
        <div class="col-xs-4 addr-agileits1">
          <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1b">
            <i class="hi-icon fa fa-envelope-o" aria-hidden="true"></i>
          </div>
        </div>
        <div class="col-xs-8 addr-agileits2">
          <div class="addr-w3l">
            <h3> Email </h3>
            <p> <a href="mailto:<%= @company.email %>"> <%= @company.email %></a></p>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</section>
<!-- /contact -->
<!-- footer -->
<section class="footer-w3-agileits">
  <div class="container">
    <div class="col-lg-8 col-md-8">
      <ul class="w3-agile">
        <li><a href="#home" class="page-scroll">Главная</a></li>
        <li><a href="#service" class="page-scroll">Услуги</a></li>
        <li><a href="#about" class="page-scroll">О компании</a></li>
        <li><a href="#testimonials" class="page-scroll">Отзывы</a></li>
        <!-- <li><a href="#team" class="page-scroll">Команда</a></li> -->
        <li><a href="#contact" class="page-scroll">Контакты</a></li>
      </ul>
    </div>
    <div class="col-lg-4 col-md-4">
      <ul class="social-icons2">
        <li>
          <%= link_to "https://vk.com/vash_autoelectric" do %>
            <i class="fa fa-vk"></i>
          <% end %>
        </li>
      </ul> 
    </div>
    <div class="clearfix"></div>
    <p class="text-center">&copy; 2017 Ваш АвтоЭлектрик. All Rights Reserved</p>
  </div>
</section>
<!-- /footer -->
<!-- back to top -->
<a href="#0" class="cd-top">Top</a>
<!-- /back to top -->

<script type="text/javascript">
  $(".lightninBox").lightninBox();
</script>
<script>
$(function(){
  //picturesEyes($('li'));
  $('ul.demo li').picEyes();
});
</script>



<%- @services.each_with_index do |service, i| %>
  <!-- Modal -->
  <div id="service<%= service.id %>" class="modal fade" role="dialog">
    <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title text-center"><%= service.title %></h4>
      </div>
      <div class="modal-body service-text">
      <p><%= service.text %></p>
      </div>
    </div>
  </div>
  </div>
  <!--// Modal -->
<% end %>

<%- @testimonials.each_with_index do |testimonial, i| %>
  <!-- Modal -->
  <div id="testimonial<%= testimonial.id %>" class="modal fade" role="dialog">
    <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body service-text">
      <p><%= testimonial.text %></p>
      </div>
    </div>
  </div>
  </div>
  <!--// Modal -->
<% end %>

<script>
  // You can also use "$(window).load(function() {"
  $(function () {
    // Slideshow 4
    $("#slider1").responsiveSlides({
      auto: true,
      pager:false,
      nav:true,
      speed: 500,
      namespace: "callbacks",
      before: function () {
        $('.events').append("<li>before event fired.</li>");
      },
      after: function () {
        $('.events').append("<li>after event fired.</li>");
      }
    });

  });
 </script>

