<!-- topbar -->
<div class="topbar-w3ls">
  <div class="container">
    <a class='logo'>
      <%= image_tag("Logo_1_1.png", alt: 'img01', class: "img-responsive") %>
    </a>   
    <div class="top-agileits">
      <div class="top-w3l1">
        <span class="glyphicon glyphicon-phone-alt orange"></span>
        <%- @company.phones.each_with_index do |phone, i| %>  
          <p class="agile<%= i + 1 %>"><%= phone.number %></p>
        <% end %>
      </div>    
      <div class="top-w3l2">
        <span class="glyphicon glyphicon-map-marker orange"></span>
        <p class="agileits1"><%= @company.address %></p> 
        <p class="agileits2">Минск</p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>  
</div>
<!-- /topbar -->
<!-- navigation -->
<div class="navbar-wrapper">
    <div class="container">
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav cl-effect-7">
            <li class="active"><a href="#home" class="page-scroll">Главная</a></li>
            <li><a href="#about" class="page-scroll">О компании</a></li>
            <li><a href="#service" class="page-scroll">Услуги</a></li>
            <li><a href="#gallery" class="page-scroll">Новости</a></li>
            <li><a href="#team" class="page-scroll">Отзывы</a></li>
            <li><a href="#contact" class="page-scroll">Контакты</a></li>
          </ul>
        </div>
      </div>
        </nav>
  </div>
</div>
<!-- /navigation -->
<!-- banner -->
<section class="banner-w3ls" id="home">
    <div id="block" data-vide-bg="video/car" data-vide-options="position: 0% 50%">
      <div class="overlay">
        <h2>Качественно. Быстро. Доступно</h2>
        <h3>Услуги автоэлектрика</h3>
        <p align="center">Компьютерная диагностика <%= fa_icon "circle" %> Ремонт электроники<br>
           Круглосуточно с выездом <%= fa_icon "circle" %> Легковые, грузовые автомобили и спецтехника<br></p>   
      </div>
    </div>  
</section>
<!-- /banner -->
<!-- services -->
<section class="service-agileinfo" id="service">
  <div class="container">
    <h3 class="text-center" data-aos="zoom-in">Our Services</h3>
    <div class="col-lg-3 col-md-3 col-sm-6" data-aos="flip-down">
      <%= image_tag("ship.png", class: "img-responsive") %>
      <h4 class="text-center">Lorem ipsum dolor</h4>
      <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sem elit, finibus et egestas ut, condimentum ut neque.</p>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6" data-aos="flip-down">
      <%= image_tag("captain.png", class: "img-responsive") %>
      <h4 class="text-center">adipiscing elit</h4>
      <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sem elit, finibus et egestas ut, condimentum ut neque.</p>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6" data-aos="flip-down">
      <%= image_tag("anchor.png", class: "img-responsive") %>
      <h4 class="text-center">Aenean sem elit</h4>
      <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sem elit, finibus et egestas ut, condimentum ut neque.</p>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6" data-aos="flip-down">
      <%= image_tag("baggage.png", class: "img-responsive") %>
      <h4 class="text-center">condimentum ut</h4>
      <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sem elit, finibus et egestas ut, condimentum ut neque.</p>
    </div>
    <div class="clearfix"></div>
  </div>
</section>
<!-- /services -->
<!-- divider -->
<section class="divider-wthree">
  <div class="container">
    <h3 class="text-center" data-aos="zoom-in">НАШ ПРИОРИТЕТ - ВАШИ КОМФОРТ И БЕЗОПАСНОСТЬ</h3>
    <p class="text-center" data-aos="zoom-in">Мы используем только высококачественные материалы<br>
        Мы даем гарантию на выполненный ремонт от 6 месяцев до 1 года<br>
        Мы выполняем ремонт электроники любой сложности<br>
        Если вы обратитесь к нам, то можете быть уверены, что ремонт будет проведен на высочайшем уровне</p>
  </div>
</section>
<!-- /divider -->
<!-- about -->
<section class="about-wthree" id="about">
  <div class="container">
    <div class="col-lg-6 col-md-6 col-sm-12" data-aos="flip-right">
      <h3 class="text-center">О КОМПАНИИ</h3>
      <p class="text-center">Наша компания начала свое существование не так давно, но мы уже сейчас сумели завоевать внимание со стороны многочисленных клиентов. Качество нашей работы стало отличным способом заслужить немалый авторитет среди автолюбителей.
         Все услуги, которые оказывает наша компания по ремонту электроники автомобилей, предоставляются с применением специализированного оборудования, а также качественных материалов от известных производителей.</p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12" data-aos="flip-left">
      <ul class="grid cs-style-1">
        <li>
          <figure>
            <%= image_tag("about-img2.jpg", class: "img-responsive") %>
            <figcaption>
              <a href="<%= image_path('about-img.jpg') %>" class="lightninBox" data-lb-group="1">View More</a>
            </figcaption>
          </figure>
        </li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
</section>
<!-- /about -->
<!-- gallery -->
<section class="gallery-info" id="gallery">
  <div class="container">
    <h3 class="text-center" data-aos="zoom-in">Our Gallery</h3>
    <ul class="clearfix demo">
      <li data-aos="flip-down"><%= image_tag("gallery-img1.jpg", class: "img-responsive") %></li>
      <li data-aos="flip-down"><%= image_tag("gallery-img2.jpg", class: "img-responsive") %></li>
      <li data-aos="flip-down"><%= image_tag("gallery-img3.jpg", class: "img-responsive") %></li>
      <li data-aos="flip-down"><%= image_tag("gallery-img4.jpg", class: "img-responsive") %></li>
      <li data-aos="flip-down"><%= image_tag("gallery-img5.jpg", class: "img-responsive") %></li>
      <li data-aos="flip-down"><%= image_tag("gallery-img6.jpg", class: "img-responsive") %></li>
      <li data-aos="flip-down"><%= image_tag("gallery-img7.jpg", class: "img-responsive") %></li>
      <li data-aos="flip-down"><%= image_tag("gallery-img8.jpg", class: "img-responsive") %></li>
    </ul>
    </div>
</section>
<!-- /gallery -->
<!-- team -->
<section class="team-w3" id="team">
  <div class="container">
    <h3 class="text-center">Meet Our Team</h3>
    <div class="col-lg-3 col-md-3 col-sm-6 team-w3l1" data-aos="flip-right">
      <%= image_tag("team-img1.jpg", class: "img-responsive") %>
      <h4>Johnny Blaze</h4>
      <ul class="social-icons1">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
      </ul>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 team-w3l1" data-aos="flip-left">
      <%= image_tag("team-img2.jpg", class: "img-responsive") %>
      <h4>Elizabeth</h4>
      <ul class="social-icons1">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
      </ul>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 team-w3l2" data-aos="flip-right">
      <%= image_tag("team-img3.jpg", class: "img-responsive") %>
      <h4>Max Payne</h4>
      <ul class="social-icons1">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
      </ul>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 team-w3l2" data-aos="flip-left">
      <%= image_tag("team-img4.jpg", class: "img-responsive") %>
      <h4>Diana</h4>
      <ul class="social-icons1">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
      </ul>
    </div>
    <div class="clearfix"></div>  
  </div>
</section>
<!-- /team -->
<!-- map -->
<section class="map-w3" data-aos="zoom-in">
  <!-- <iframe class="googlemaps" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d380510.6741687111!2d-88.01234121699822!3d41.83390417061058!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1455598377120" style="border:0" allowfullscreen></iframe> -->
</section>
<!-- /map -->
<!-- contact -->
<section class="contact-w3-agileits" id="contact">
  <div class="container">
    <h3 class="text-center" data-aos="zoom-in">Get In Touch</h3>
    <div class="col-lg-4 col-md-4 contact-w3l1" data-aos="flip-right">
      <h4>Subscribe to our newsletter</h4>
      <div class="subscribe">
        <form action="#" method="post">
          <div class="form-group1">
            <input class="form-control" id="email1" name="email1" placeholder="Enter Your Email Address" type="email" required>
          </div>
          <div class="form-group2">
            <button class="btn btn-outline btn-lg" type="submit">Subscribe</button>
          </div>
          <div class="clearfix"></div>
        </form>
      </div>  
    </div>
    <div class="col-lg-8 col-md-8 contact-w3l2" data-aos="flip-left">
      <form action="#" method="post">
        <div class="form-group col-md-4 col-sm-4">
          <input type="text" class="form-control" id="name" name="name" placeholder="Your Name" required/>
        </div>
        <div class="form-group col-md-4 col-sm-4">
          <input type="email" class="form-control" id="email2" name="email2" placeholder="Your Email" required/>
        </div>
        <div class="form-group col-md-4 col-sm-4">
          <input type="tel" class="form-control" id="phone" name="phone" placeholder="Your Phone" required/>
        </div>
        <div class="clearfix"></div>
        <div class="form-group col-md-12">
          <textarea class="form-control" rows="6" name="message" placeholder="Your Message" required></textarea>
        </div>
        <div class="form-group col-md-12">
          <button type="submit" class="btn-outline2"><i class="fa fa-check-circle-o" aria-hidden="true"></i> Submit</button>
        </div>
        <div class="clearfix"></div>
      </form> 
    </div>
    <div class="clearfix"></div>
  </div>
</section>
<!-- /contact -->
<!-- footer -->
<section class="footer-w3-agileits">
  <div class="container">
    <div class="col-lg-8 col-md-8">
      <ul class="w3-agile">
        <li><a href="#home" class="page-scroll">Главная</a></li>
        <li><a href="#about" class="page-scroll">О компании</a></li>
        <li><a href="#service" class="page-scroll">Услуги</a></li>
        <li><a href="#gallery" class="page-scroll">Новости</a></li>
        <li><a href="#team" class="page-scroll">Отзывы</a></li>
        <li><a href="#contact" class="page-scroll">Контакты</a></li>
      </ul>
    </div>
    <div class="col-lg-4 col-md-4">
      <ul class="social-icons2">
        <li><a href="/"><i class="fa fa-facebook"></i></a></li>
        <li><a href="/"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        <li><a href="#"><i class="fa fa-vk"></i></a></li>
      </ul> 
    </div>
    <div class="clearfix"></div>
    <p class="text-center">&copy; 2017 Ваш АвтоЭлектрик. All Rights Reserved</p>
  </div>
</section>
<!-- /footer -->
<!-- back to top -->
<a href="#0" class="cd-top">Top</a>
<!-- /back to top -->

<script type="text/javascript">
  $(".lightninBox").lightninBox();
</script>
<script>
$(function(){
  //picturesEyes($('li'));
  $('ul.demo li').picEyes();
});
</script>

